.comment__taste {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

.submit {
    width: 90%;
    height: 50px;
    margin: 20px;
    background-color: rgb(51, 187, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}